extends ./jade-superhero/_layout
block title
	title Super Photoshop
block body
	//navbar
	include ./jade-superhero/_navbar				
	// Carousel
	// ==================================================
	+carousel("myCarousel",[
	{image:"./images/slide1_SelectiveFoucus.jpg",
		h1:"Selective Focus 選擇性聚焦",
		p:"將照片後製出特別聚焦效果，呈現更高的質感。",
		button:{caption:"馬上學習",url:"./404.html"}},	
	{image:"./images/nculife_bar_dog.jpg",
		h1:"Another example headline",
		p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."
		},
	{image:"./images/nculife_bar.jpg",
		h1:"One more for good measure.",
		p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."
		}
	])
	//  Marketing messaging and featurettes
	//  ==================================================
	// Wrap the rest of the page in another container to center all the content.
	.container.content
		// START THE FEATURETTES
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| The NCU LOGO Tee. 
					span.text-muted It'll blow your mind.
				p.lead
					| 惹人愛的蛋白！休閒又時尚的美式風格，愛狗狗的你，絕對不能錯過！
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='./images/nculife_dog.jpg', alt='example img')
		hr.featurette-divider
		.row.featurette
			.col-md-7.col-md-push-5
				h2.featurette-heading
					| The NCU LOGO Tee. 
					span.text-muted It'll blow your mind.
				p.lead
					| 簡約的線條勾勒出象徵中大的松果，此款百搭又實穿唷！經典款～還猶豫什麼呢？
			.col-md-5.col-md-pull-7
				img.featurette-image.img-responsive.center-block(src='./images/nculife_nculogo.jpg', alt='example img')
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| The NCU LOGO Tee. 
					span.text-muted It'll blow your mind.
				p.lead
					| 松鼠可可的燦爛笑容，代表著中大學生們不滅的熱情與活力！穿上俏皮可愛的可可，讓妳／你更加亮眼喔！
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='./images/nculife_caca.jpg', alt='example img')
		hr.featurette-divider
		// /END THE FEATURETTES
		// FOOTER
		include ./jade-superhero/_footer



