extends ./jade-superhero/_layout
block title
	title Super Photoshop
block body
	//navbar
	include ./jade-superhero/_navbar				
	// Carousel
	// ==================================================
	+carousel("myCarousel",[
	{image:"./images/slide1_SelectiveFoucus.jpg",
		h1:"Selective Focus 選擇性聚焦",
		p:"將照片後製出特別聚焦效果，呈現更高的質感。",
		button:{caption:"馬上學習",url:"http://gongmusian.github.io/superphotoshop/quick_photoshop.html"}},	
	{image:"./images/example-carousel1.jpg",
		h1:"Another example headline",
		p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."
		},
	{image:"./images/example-carousel2.jpg",
		h1:"One more for good measure.",
		p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit."
		},
	{image:"./images/example-carousel3.jpg",
		h1:"One more for good measure.",
		p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.",
		}
	])
	//  Marketing messaging and featurettes
	//  ==================================================
	// Wrap the rest of the page in another container to center all the content.
	.container.content
		// START THE FEATURETTES
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| First featurette heading. 
					span.text-muted It'll blow your mind.
				p.lead
					| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='./images/example1.jpg', alt='example img')
		hr.featurette-divider
		.row.featurette
			.col-md-7.col-md-push-5
				h2.featurette-heading
					| Oh yeah, it's that good. 
					span.text-muted See for yourself.
				p.lead
					| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
			.col-md-5.col-md-pull-7
				img.featurette-image.img-responsive.center-block(src='./images/example2.jpg', alt='example img')
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| And lastly, this one. 
					span.text-muted Checkmate.
				p.lead
					| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='./images/example3.jpg', alt='example img')
		hr.featurette-divider
		// /END THE FEATURETTES
		// FOOTER
		include ./jade-superhero/_footer



