extends ./jade-superhero/_layout
block title
    title 網站SEO|GA分析|網站排名|策略
block body
    //navbar
    include ./jade-superhero/_navbar
    .container.content
        .blog-header
            h1.blog-title SuperPhotoshop 網站SEO，GA分析 ，網站排名計畫
        .row
            .col-sm-12.blog-main
                .blog-post
                    h2.blog-post-title SuperPhotoshop的兩大目標
                    h3
                        | 網站內容：Photoshop學習分享
                    h3
                        | 目標使用者：Photoshop的初學者，目標對象(創業社團，文創社群，學生創業，設計族群，行銷人社群等等)
                    hr
        .row
            .col-sm-12.col-xs-12.col-md-12.col-lg-12
                .blog-post
                    h2.blog-post-title 品質分數策略
                    h3
                        | 行動優先：增加Google網路排名：google會將行動友善的網站增加搜尋權重

                    h3
                        | 內容優化：網頁資訊有邏輯整理，網站描述的部分要和網頁內容相關。
                    h3
                        | 原生廣告：增加非商業化的文章分享數量，以便融入網路社群，也就是原生廣告的概念。
                    h3
                        | 交換連結：尋找網路目標社群，例如孕婦服裝記得參加FB的年輕媽媽社團，並請女性上傳分享。
                    hr
        .row
            .col-sm-12.col-xs-12.col-md-12.col-lg-12
                .blog-post
                    h2.blog-post-title SuperPhotoshop網站內容設計
                    h3
                        | 行動優先：行動優先(採用bootstrap框架，RWD)
                    h3
                        | photoshop基礎教學懶人頁面：這一頁要好好規劃關鍵字、描述、補充連結
                    h3
                        | photoshop後製效果美圖：要做比較版本，並連結到每一個更詳細的流程步驟。(讓使用者不容易跳出網頁)
                    hr
        .row
            .col-sm-12.col-xs-12.col-md-12.col-lg-12
                .blog-post
                    h2.blog-post-title SEO規劃
                    h3
                        | 提交搜尋引擎：google，bing, yahoo
                    h3
                        | 關鍵字：廣域思考，記得不要選擇不相關的關鍵字(會增加無效流量)
                    h3
                        | 圖片優化：
                        h3 | 圖片名稱：要有意義文字，增加搜尋權重
                        h3 | 圖片描述(alt)：要仔細，並善用空格分開，增加搜尋權重
                        h3 | 圖片大小壓縮：增加載入速度
                        h3 | 清除死圖：並載入example圖片
                    h3
                        | 分享連結：FB的相關性社團
                    hr

        // /END THE FEATURETTES
        // FOOTER
        include ./jade-superhero/_footer



