footer
    p.pull-right
        a(href='#') Back to top
    p
        | © 2015 Gong Musian · 
        //a(href='#') Privacy
        //|  · 
        //a(href='#') Terms
    block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
            //script(src="js/jquery.min.js")
            //script(src="js/bootstrap.min.js")
