meta(charset="UTF-8")
meta(http-equiv="Content-Language",content="zh-TW")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1")
meta(name="description",content="photoshop基本教學，後製網拍美圖，網頁切版入門。")
meta(name="keyword",content="photoshop, photoshop基本教學, photoshop切割, photoshop裁切, photoshop置入, photoshop去背, photoshop濾鏡, 模糊光圈, photoshop後製, photoshop指令, 簡單的photoshop, ps圖片, 切割圖片, 網頁切版, photoshop快捷鍵, photoshop快速鍵, photoshop輸出, photoshop技巧, photoshop入門")
meta(name="author",content="Gong MU Sian")
meta(property="og:title", content="photoshop基本教學，後製網拍美圖，網頁切版入門。")
meta(property="og:type", content="taiwancheerup :project")
meta(property="og:url", content="http://gongmusian.github.io/superphotoshop")
meta(property="og:image", content="./images/thumbSfLogo.jpg")
link(rel="icon",href="./images/thumbSfLogo.jpg")
block title
    title=title
block styles
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    //link(rel="stylesheet",href="css/bootstrap.min.css")
script
    include js/ga.js