.navbar-wrapper
        .container
            nav.navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                            
                        a(class="navbar-brand", href="http://gongmusian.github.io/superphotoshop/") Super Photoshop
                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href="#") Home
                            li
                                a(href="#about") 基本教學
                            li
                                a(href="#contact") Contact
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                    | Photoshop 50 技巧
                                    span.caret
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(href='#') 濾鏡效過
                                    li
                                        a(href='#') 裁切技巧
                                    li
                                        a(href='#') Something else here
                                    li.divider
                                    li.dropdown-header Nav header
                                    li
                                        a(href='#') Separated link
                                    li
                                        a(href='#') One more separated link