.navbar-wrapper
        .container
            nav.navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                            
                        a(class="navbar-brand", href="./index.html") Super Photoshop
                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href="./index.html") Home
                            li
                                a(href="./quick_photoshop.html") 基本教學
                            li
                                a(href="./404.html") 精選範例
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                    | Photoshop 50 技巧
                                    span.caret
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(href='./404.html') 濾鏡效過
                                    li
                                        a(href='./404.html') 裁切技巧
                                    li
                                        a(href='./404.html') 疊加圖案
                                    li.divider
                                    li.dropdown-header 進階技巧
                                    li
                                        a(href='./404.html') 變色處理
                                    li
                                        a(href='./404.html') 影片支援